h1 {
    text-align: center;
    vertical-align: top;
}
ul {
   text-align: center;
}
.pageNav {
   display: inline-block; 
   list-style-type: none;
   padding: 0 10%;
   color: white;
   justify-self: center;
}

header {
   padding-top: 1fr;
}