.postNav {
   display: block; 
   list-style-type: none;
   padding: 0 10%;
   color: white;
   justify-self: center;
}
.dark{
    background-color: #242424;
    color: white;
}
.light{
    background-color: white;
    color: black;
}
